<section class="@CssClass">
    @ChildContent
</section>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Padding { get; set; } = "Md";

    [Parameter]
    public string? AdditionalClass { get; set; }

    private string CssClass => string.Join(
        " ",
        "app-card",
        Padding switch
        {
            "None" => "app-card--pad-none",
            "Sm" => "app-card--pad-sm",
            "Lg" => "app-card--pad-lg",
            _ => "app-card--pad-md"
        },
        AdditionalClass);
}
