@if (Errors.Count > 0)
{
    <ul class="validation-list">
        @foreach (var error in Errors)
        {
            <li>@error.Message</li>
        }
    </ul>
}

@code {
    [Parameter]
    public IReadOnlyList<PredictionValidationError> Errors { get; set; } = [];
}
