@inject IStringLocalizer<SharedResource> Localizer

<header class="app-topbar">
    <div class="app-topbar__inner">
        <AppLogo AdditionalClass="app-topbar__brand" />

        <nav class="app-topbar__nav" aria-label="Main navigation">
            <NavLink class="topbar-nav-link" ActiveClass="active" href="" Match="NavLinkMatch.All">
                @Localizer["Nav.Competitions"]
            </NavLink>
            <NavLink class="topbar-nav-link" ActiveClass="active" href="competitions/sheffield-2026">
                @Localizer["Nav.Sheffield"]
            </NavLink>
            <NavLink class="topbar-nav-link" ActiveClass="active" href="competitions/worlds-2026">
                @Localizer["Nav.Worlds"]
            </NavLink>
        </nav>

        <div class="app-topbar__controls">
            <ThemeToggle />
            <LanguageSwitcher />
        </div>
    </div>
</header>
